/* *,
*::after,
*::before{
  margin: 0;
  padding: 0;
} */

.header {
  margin-left: 24px;
}

.footer {
  text-align: center;
}

.search-container {
  text-align: center;
}

.search-bar {
  width: 450px;
  height: 25px;
  font-size: 14px;
}

.search-btn {
  margin: 10px 0;
  color: white;
  background: black;
  padding: 8px 24px;
  font-size: 12px;
  border-style: none;
}

.representative-info {
  margin: 15px 0;

}

.office-title {
  font-weight: bold;
  text-transform: uppercase;
}