*,
*::after,
*::before{
  margin: 0;
  padding: 0;
}

.main-page {
  background: rgb(255,0,0);
background: linear-gradient(90deg, rgba(255,0,0,1) 6%, rgba(235,235,235,1) 35%, rgba(255,255,255,1) 65%, rgba(0,24,255,1) 100%);
}

.header {
  margin-left: 24px;
  padding: 20px;
}

.footer {
  text-align: center;
}

.search-container {
  text-align: center;
}

.search-bar {
  width: 500px;
  height: 40px;
  font-size: 25px;
  border-style: solid;
  border-radius: 5px;
}

.search-btn {
  margin: 10px 0;
  color: white;
  background: black;
  padding: 8px 24px;
  font-size: 12px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
}

.representative-info {
  margin: 20px 0;
}

.office-title {
  font-weight: bold;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}