*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}


.home-text {
  text-align: center;
  padding: 24px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
}


.home-par {
  padding: 10px;
  background-color: white;
}


.header {
  padding: 24px;
  color: white;
  background: #ad1211;
}


.header-title {
  font-weight: bold;
}


ul {
  display: flex;
  justify-content: flex-start;
  list-style-type: none;
  align-items: flex-start;
}


.menu-item a{
  color: white;
  font-size: 26px;
  margin-right: 24px;
  text-decoration: none;
  cursor: pointer;
}



.sign-up-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 24px;
}


.form-label {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  font-size: 24px;
  margin: 16px;
  float: right;
}


.form-input {
  height: 35px;
  min-width: 300px;
  font-size: 30px;
  margin: 8px;
  background-color: rgb(236, 255, 255);
  border-radius: 5px;
}


.footer {
  text-align: center;
  background-color: navy;
  color: white;
}


.search-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}


.search-container > h1 {
  margin: 12px;
}


.search-bar {
  margin-top: 24px;
  width: 500px;
  height: 40px;
  font-size: 25px;
  border-style: solid;
  border-radius: 5px;
  
}


.submit-btn {
  margin: 10px 0;
  color: white;
  background: navy;
  padding: 15px 35px;
  font-size: 16px;
  border-style: solid;
  border-color: lightgray;
  border-radius: 5px;
  font-family: Georgia, 'Times New Roman', Times, serif;
}


.representative-info {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}


.office-title {
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 10px;
}


.official-name {
  padding: 10px;
  text-transform: uppercase;
  font-weight: 500;
}




